/** @format */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
header {
  background-color: #1a0b2e;
}
.head-container {
  display: flex;
  color: white;
}
nav {
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 1600px;
  width: 100%;
  align-items: center;

  /* border: 0.5px solid white; */
}
#word {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.list {
  line-height: 120px;
  font-size: 16px;
  color: #ffffff;
  gap: 32px;
}

nav .menu {
  display: flex;
  color: white;
  list-style-type: none;
  align-items: center;
  text-align: center;
  gap: 51px;
}

.btn {
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600px;
  color: #ffffff;
  background: linear-gradient(#f7e93f, #fb09b4, #9100f8);
  text-align: center;
  align-items: center;
  border: none;
}
.btn1 {
  border: 2px solid #00ff88;
  color: #00ff88;
  border-radius: 30px;
  font-size: 16px;
  background-color: transparent;
  padding: 16px;
  margin-left: 8px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background: white;
  border-radius: 2px;
}

/* BANNER CONTAINER */
.banner-container {
  /* background-image: url(./assets/hero-bg.png); */
  background-color: #1a0b2e;
  margin-top: 1px;
  max-width: 1600px;
  text-align: center;
}

.banner-title h1 {
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
}
.banner-title p {
  color: #ffffff;
  font-size: 16px;
}

/* ABOUT SECTION */

.about {
  margin: 0;
  padding: 5px;
  background-color: #1a0b2e;
  color: white;
  text-align: center;
  align-items: center;
}
.about-title {
  font-size: 48px;
  font-weight: bold;
}
.about-desc {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 40px;
}

.card-info {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 80px;
  margin: 40px 0;
}
/* ABOUT SECTIO CARD */

.card-title {
  font-size: 48px;
  color: #00ff88;
}

.card-desc {
  color: #ffffff;
  font-size: 16px;
  margin-top: 16px;
}

/* CHOOSE SECTION */

.choose {
  background-color: #230e3d;
  padding: 200px;
  margin: 0 auto;
  color: #FFFFFF;
}
.about-title{
  text-align: center;

}
.choose-box {
  display: grid;
  /* background-color: #4b2f6d80; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  color: #FFFFFF;
}

.radius{
  border-radius: 40px;
}

.box1 {
  border: 1px solid #351165;
  grid-row: span 2;
  gap: 5px;
  padding: 40px;
}

.box2,
.box3 {
  border: 1px solid #351165;
  padding: 40px;

  grid-column: span 2;
}
.box4 {
  border: 1px solid #351165;
  padding: 40px;
  grid-column: span 2;
}
.box5{
   border: 1px solid #351165;
  padding: 40px;
}

.choose-box h1{
  font-weight: bold;
  font-size: 24px;
}

.choose-box p{
  line-height: 24px;
  font-size: 16px;
}

/* FEATURE SECTION */

.feature{
  background-color: #1A0B2E;
  color: #FFFFFF;
  padding: 200px;
}

.feature-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}

.card{
  background-color: #39205a38;
  border-radius: 25px;
  
}

.card h1{
  font-size: 24px;
  font-weight: bold;
}

.card p{
  font-size: 16px;
  line-height: 24px;
}

.card h5{
  color: #00ff88;
}

/* Host Section */

.host-body{
  display: flex;
  background-color: #351165ad;
  padding: 20px;
  border-radius: 40px;

}
.host-content{
  margin-left: 12px;
}
.social-media{
  display: grid;
  grid-template-columns: repeat(4,25px);
  gap: 8px;
}
.host-content p{
  font-size: 16px;
  line-height: 24px;
}
.host-content h2{
  font-size: 32px;
  font-weight: bold;
}


/* Small Device Responsive */

@media (max-width: 576) {
  .nav-menu {
    display: none; /* hide menu */
  }

  .hamburger {
    display: flex; /* show menu icon */
  }

  .logo h1 {
    font-size: 22px;
  }
}
